In [14]:
import pandas as pd

In [20]:
dates = pd.read_csv("data/calheat.csv")

In [18]:
dates["Value"]=dates["Low"]

In [19]:
dates.sort("Date")[["Date","Value"]].to_csv("data/calheat.csv")

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [21]:
dates

         i        Date     Value
0        0  1990-01-02   2732.51
1        1  1990-01-03   2786.26
2        2  1990-01-04   2766.42
3        3  1990-01-05   2758.11
4        4  1990-01-08   2753.41
5        5  1990-01-09   2760.03
6        6  1990-01-10   2725.47
7        7  1990-01-11   2748.29
8        8  1990-01-12   2675.98
9        9  1990-01-15   2656.36
10      10  1990-01-16   2634.17
11      11  1990-01-17   2643.77
12      12  1990-01-18   2625.85
13      13  1990-01-19   2657.85
14      14  1990-01-22   2595.27
15      15  1990-01-23   2584.01
16      16  1990-01-24   2534.23
17      17  1990-01-25   2546.17
18      18  1990-01-26   2516.89
19      19  1990-01-29   2522.97
20      20  1990-01-30   2513.06
21      21  1990-01-31   2546.85
22      22  1990-02-01   2571.85
23      23  1990-02-02   2577.03
24      24  1990-02-05   2592.12
25      25  1990-02-06   2588.29
26      26  1990-02-07   2579.28
27      27  1990-02-08   2622.30
28      28  1990-02-09   2628.15
29      29  1990-02-12   2610.59
...    ...         ...       ...
5202  5202  2010-08-20  10131.88
5203  5203  2010-08-23  10146.18
5204  5204  2010-08-24   9975.86
5205  5205  2010-08-25   9925.34
5206  5206  2010-08-26   9959.17
5207  5207  2010-08-27   9925.11
5208  5208  2010-08-30  10005.56
5209  5209  2010-08-31   9915.73
5210  5210  2010-09-01  10016.01
5211  5211  2010-09-02  10211.80
5212  5212  2010-09-03  10321.92
5213  5213  2010-09-07  10304.44
5214  5214  2010-09-08  10318.93
5215  5215  2010-09-09  10359.23
5216  5216  2010-09-10  10376.34
5217  5217  2010-09-13  10458.45
5218  5218  2010-09-14  10460.34
5219  5219  2010-09-15  10453.15
5220  5220  2010-09-16  10499.43
5221  5221  2010-09-17  10529.67
5222  5222  2010-09-20  10594.38
5223  5223  2010-09-21  10674.83
5224  5224  2010-09-22  10682.40
5225  5225  2010-09-23  10610.12
5226  5226  2010-09-24  10664.39
5227  5227  2010-09-27  10776.44
5228  5228  2010-09-28  10714.03
5229  5229  2010-09-29  10759.75
5230  5230  2010-09-30  10732.27
5231  5231  2010-10-01  10759.14

[5232 rows x 3 columns]