In [1]:
import json

In [2]:
data = json.load(open("data/cities.json"))

In [3]:
import jupyterviz

In [13]:
jupyterviz.viz("tmp/map.htm","Idatamap",data,900,900,{'center':[-3.7, 40],'scale':5000})

In [18]:
import pandas as pd

In [19]:
#Portal de datos abiertos de Madrid - Censo de locales
localesdf = pd.read_csv("/home/seb/Downloads/Locales201606.csv",sep=";")

In [20]:
localesdf.head(5)

,id_local,id_distrito_local,desc_distrito_local,id_barrio_local,desc_barrio_local,cod_barrio_local,id_seccion_censal_local,desc_seccion_censal_local,coordenada_x_local,coordenada_y_local,...,cal_acceso,coordenada_x_agrupacion,coordenada_y_agrup,id_agrupacion,nombre_agrupacion,id_tipo_agrup,desc_tipo_agrup,id_planta_agrupado,id_local_agrupado,rotulo
0,270080413,4,SALAMANCA,405,LISTA,NaN,NaN,106,"442992,92","4475762,65",...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TABACO
1,270080423,4,SALAMANCA,405,LISTA,NaN,NaN,106,"443037,29","4475759,16",...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CASA BALTASAR ...
2,270080433,4,SALAMANCA,405,LISTA,NaN,NaN,106,"442990,91","4475871,77",...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BAR LUSA ...
3,270080586,4,SALAMANCA,405,LISTA,NaN,NaN,108,"442964,73","4475996,99",...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LA FLAUTA MAGICA
4,270080592,4,SALAMANCA,405,LISTA,NaN,NaN,108,"442851,45","4475960,38",...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ANTIGUEDADES

In [21]:
len(localesdf)

144852

In [28]:
localesdf['coordenada_x_local']=pd.to_numeric(localesdf['coordenada_x_local'].str.replace(",","."))
localesdf['coordenada_y_local']=pd.to_numeric(localesdf['coordenada_y_local'].str.replace(",","."))

In [33]:
localesdf=localesdf[localesdf['coordenada_x_local']>100000]

In [34]:
localesdf.head(32)

,id_local,id_distrito_local,desc_distrito_local,id_barrio_local,desc_barrio_local,cod_barrio_local,id_seccion_censal_local,desc_seccion_censal_local,coordenada_x_local,coordenada_y_local,...,cal_acceso,coordenada_x_agrupacion,coordenada_y_agrup,id_agrupacion,nombre_agrupacion,id_tipo_agrup,desc_tipo_agrup,id_planta_agrupado,id_local_agrupado,rotulo
0,270080413,4,SALAMANCA,405,LISTA,NaN,NaN,106,442992.92,4475762.65,...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TABACO
1,270080423,4,SALAMANCA,405,LISTA,NaN,NaN,106,443037.29,4475759.16,...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CASA BALTASAR ...
2,270080433,4,SALAMANCA,405,LISTA,NaN,NaN,106,442990.91,4475871.77,...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BAR LUSA ...
3,270080586,4,SALAMANCA,405,LISTA,NaN,NaN,108,442964.73,4475996.99,...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LA FLAUTA MAGICA
4,270080592,4,SALAMANCA,405,LISTA,NaN,NaN,108,442851.45,4475960.38,...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ANTIGUEDADES
7,270080685,4,SALAMANCA,405,LISTA,NaN,NaN,109,442943.45,4475810.91,...,,NaN,NaN,NaN,GALERIA DE ALIMENTACION ALCANTARA,NaN,Galeria de Alimentacion,NaN,NaN,BAR CAFETERIA LOS TIMPLES
8,270080721,4,SALAMANCA,405,LISTA,NaN,NaN,109,442837.41,4475786.03,...,,NaN,NaN,NaN,GALERIA DE ALIMENTACION ALCANTARA,NaN,Galeria de Alimentacion,NaN,NaN,MODAS PALOMA ...
9,270080727,4,SALAMANCA,405,LISTA,NaN,NaN,109,442842.21,4475848.57,...,,NaN,NaN,NaN,GALERIA DE ALIMENTACION ALCANTARA,NaN,Galeria de Alimentacion,NaN,NaN,LUZON PASTELERIA
10,270080777,4,SALAMANCA,405,LISTA,NaN,NaN,109,442777.59,4475778.37,...,,NaN,NaN,NaN,GALERIA DE ALIMENTACION ALCANTARA,NaN,Galeria de Alimentacion,NaN,NaN,BENLLIURE
11,270080914,4,SALAMANCA,405,LISTA,NaN,NaN,110,442582.92,4475852.09,...,,NaN,NaN,NaN,GALERIA DE ALIMENTACION ALCANTARA,NaN,Galeria de Alimentacion,NaN,NaN,ARTE Y PALADAR
12,270080924,4,SALAMANCA,405,LISTA,NaN,NaN,110,442585.75,4475896.77,...,,NaN,NaN,NaN,GALERIA DE ALIMENTACION ALCANTARA,NaN,Galeria de Alimentacion,NaN,NaN,ORIOL BALAGUER
13,270080946,4,SALAMANCA,405,LISTA,NaN,NaN,110,442685.45,4475894.93,...,,NaN,NaN,NaN,GALERIA DE ALIMENTACION ALCANTARA,NaN,Galeria de Alimentacion,NaN,NaN,LOTERIAS Y APUESTAS DEL ESTADO
14,270080951,4,SALAMANCA,405,LISTA,NaN,NaN,111,442480.61,4475799.00,...,,NaN,NaN,NaN,GALERIA DE ALIMENTACION ALCANTARA,NaN,Galeria de Alimentacion,NaN,NaN,INKE
15,270080957,4,SALAMANCA,405,LISTA,NaN,NaN,111,442534.63,4475794.96,...,,NaN,NaN,NaN,GALERIA DE ALIMENTACION ALCANTARA,NaN,Galeria de Alimentacion,NaN,NaN,TAPICERO
16,270080965,4,SALAMANCA,405,LISTA,NaN,NaN,111,442693.95,4475930.97,...,,NaN,NaN,NaN,GALERIA DE ALIMENTACION ALCANTARA,NaN,Galeria de Alimentacion,NaN,NaN,CERRADO
17,270080990,4,SALAMANCA,405,LISTA,NaN,NaN,111,442698.15,4475979.69,...,,NaN,NaN,NaN,GALERIA DE ALIMENTACION ALCANTARA,NaN,Galeria de Alimentacion,NaN,NaN,TULIPAN ...
18,270081068,4,SALAMANCA,405,LISTA,NaN,NaN,111,442612.57,4475930.84,...,,NaN,NaN,NaN,GALERIA DE ALIMENTACION ALCANTARA,NaN,Galeria de Alimentacion,NaN,NaN,CHARO CARRASCO
19,270081073,4,SALAMANCA,405,LISTA,NaN,NaN,111,442641.35,4475929.61,...,,NaN,NaN,NaN,GALERIA DE ALIMENTACION ALCANTARA,NaN,Galeria de Alimentacion,NaN,NaN,FARMACIA MARTEL
20,270081152,4,SALAMANCA,405,LISTA,NaN,NaN,111,442650.93,4476044.82,...,,NaN,NaN,NaN,GALERIA DE ALIMENTACION ALCANTARA,NaN,Galeria de Alimentacion,NaN,NaN,MU�AGORRI
21,270081316,4,SALAMANCA,405,LISTA,NaN,NaN,112,442605.29,4476064.36,...,,NaN,NaN,NaN,GALERIA DE ALIMENTACION ALCANTARA,NaN,Galeria de Alimentacion,NaN,NaN,PASTELERIA HUNGARA
22,270081424,3,RETIRO,305,LOS JERONIMOS,NaN,NaN,70,441616.91,4474369.56,...,,NaN,NaN,NaN,GALERIA DE ALIMENTACION ALCANTARA,NaN,Galeria de Alimentacion,NaN,NaN,SR
23,270081448,4,SALAMANCA,405,LISTA,NaN,NaN,113,442483.30,4476141.29,...,,NaN,NaN,NaN,GALERIA DE ALIMENTACION ALCANTARA,NaN,Galeria de Alimentacion,NaN,NaN,LACTEOS Y PAN
24,270081579,4,SALAMANCA,406,CASTELLANA,NaN,NaN,114,442368.72,4475914.64,...,,NaN,NaN,NaN,GALERIA DE ALIMENTACION ALCANTARA,NaN,Galeria de Alimentacion,NaN,NaN,FARMACIA
25,270081693,4,SALAMANCA,406,CASTELLANA,NaN,NaN,114,442126.31,4475840.16,...,,NaN,NaN,NaN,GALERIA DE ALIMENTACION ALCANTARA,NaN,Galeria de Alimentacion,NaN,NaN,CESE
26,270081734,4,SALAMANCA,406,CASTELLANA,NaN,NaN,114,442140.46,4476044.36,...,B,NaN,NaN,NaN,GALERIA DE ALIMENTACION ALCANTARA,NaN,Galeria de Alimentacion,NaN,NaN,ESPEJOS
27,270081763,4,SALAMANCA,406,CASTELLANA,NaN,NaN,115,442345.61,4476162.72,...,,NaN,NaN,NaN,GALERIA DE ALIMENTACION ALCANTARA,NaN,Galeria de Alimentacion,NaN,NaN,MUEBLES SU MUEBLE
28,270081771,4,SALAMANCA,406,CASTELLANA,NaN,NaN,115,441958.82,4476112.52,...,,NaN,NaN,NaN,GALERIA DE ALIMENTACION ALCANTARA,NaN,Galeria de Alimentacion,NaN,NaN,R0TULO NO INFORMADO
29,270081904,4,SALAMANCA,406,CASTELLANA,NaN,NaN,115,442147.59,4475985.51,...,,NaN,NaN,NaN,GALERIA DE ALIMENTACION ALCANTARA,NaN,Galeria de Alimentacion,NaN,NaN,SVENSONS
30,270081975,4,SALAMANCA,406,CASTELLANA,NaN,NaN,115,442307.73,4476084.96,...,,NaN,NaN,NaN,GALERIA DE ALIMENTACION ALCANTARA,NaN,Galeria de Alimentacion,NaN,NaN,ROTULO NO INFORMADO
31,270082157,4,SALAMANCA,406,CASTELLANA,NaN,NaN,116,441949.91,4475980.40,...,,NaN,NaN,NaN,GALERIA DE ALIMENTACION ALCANTARA,NaN,Galeria de Alimentacion,NaN,NaN,BULGARI
33,270082383,4,SALAMANCA,406,CASTELLANA,NaN,NaN,117,442011.29,4475939.69,...,,NaN,NaN,NaN,GALERIA DE ALIMENTACION ALCANTARA,NaN,Galeria de Alimentacion,NaN,NaN,BANCO SANTANDER
34,270082422,4,SALAMANCA,406,CASTELLANA,NaN,NaN,117,441854.24,4475922.54,...,,NaN,NaN,NaN,GALERIA DE ALIMENTACION ALCANTARA,NaN,Galeria de Alimentacion,NaN,NaN,R0TULO NO INFORMADO

In [35]:
import utm
localesdf['latitude']=localesdf.apply(lambda row: utm.to_latlon(row['coordenada_x_local'],row['coordenada_y_local'],30,"T")[0] , 1)   
localesdf["longitude"]=localesdf.apply(lambda row: utm.to_latlon(row['coordenada_x_local'],row['coordenada_y_local'],30,"T")[1] , 1) 
localesdf['radius']=5

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [37]:
result = localesdf[['latitude',"longitude",'radius']].to_dict(orient="records")

In [38]:
result[:5]

[{'latitude': 40.430549743227466,
  'longitude': -3.6720830218959346,
  'radius': 5.0},
 {'latitude': 40.430521343158802,
  'longitude': -3.6715596446007845,
  'radius': 5.0},
 {'latitude': 40.431532613941513,
  'longitude': -3.672116504045809,
  'radius': 5.0},
 {'latitude': 40.432658864384265,
  'longitude': -3.6724363732330136,
  'radius': 5.0},
 {'latitude': 40.432321287513616,
  'longitude': -3.673768546452246,
  'radius': 5.0}]

In [48]:
jupyterviz.viz("tmp/map.htm","Idatamap",result[:100],900,900,{'center':[-3.7, 40],'scale':40000})